/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    modules {
        'fastq_screen_screen' {
            publish_dir     = 'fastq_screen'
            publish_results = 'all'
        }
        'make_graphs' {
            publish_dir     = 'fastq_screen'
            publish_results = 'all'
        }
        'make_html_report' {
            publish_dir     = 'fastq_screen'
            publish_results = 'all'
        }
        'subset_fastq' {
            publish_dir     = 'subset'
            publish_results = 'none'
        }
        'filter_reads' {
            publish_dir     = 'filtered'
            publish_results = 'all'
        }
    }
}